* {
	font-family: 'Open Sans';
}

body {
	border-top: 3px solid #000;
	overflow: hidden;
	background-color: #e6e6e6;
}

#slider {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

strong {
	font-weight: 600 !important;
}



@media only screen and (max-width: 500px),only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body { 
		border-top: 3px solid #e6e6e6;
	}
}

#corrections {
	position: absolute;
	top: 380px;
	left: 20px;
	width: 100px;
	height: 100px;
	border-radius: 60px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	background-color: #848484;
	z-index: 7;
	font-size: 10px;
	color: #fff;
	text-align: center;	
}

#corrections p {
	padding: 8px;
	padding-top: 7px;
}

#corrections a {
	color: #fff;
}


#share-buttons {
	position: absolute;
	width: auto;
	height: 50px;
	z-index: 20;
	bottom: 0;
	right: 20px;
}

.twitter-share-button {
	width: 90px !important;
}

#master-info-box {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../img/radial_gradient_white.png') center center no-repeat;
	display: none;
	z-index: 5; 
	overflow: hidden;
}

#master-info {
	width: 400px;
	height: auto;
	margin: 0 auto;
	color: #383838;	
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
}

#master-info a {
	text-decoration: none;
	font-weight: 600;
	color: #383838;
}

#master-info a:hover {
	border-bottom: 2px solid #383838;
}

#master-info p {
	font-size: 13px;
}

#master-info h2 {
	font-size: 18px;
}

#master-info .colophon {
	padding-top: 20px;
}

#master-info .colophon span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
}

#header {
	width: 940px;
	height: 50px;
	margin: 10px 0 10px 0;
	overflow: hidden;	
}

#close {
	float: right;
	margin: 23px 45px 0 0;
	width: 100px;
	display: none;
	font-size: 10px;
	color: #666;
}

#close .x {
	background-color: #fff;
	float: left;
	border-radius: 8px;
	height: 16px;
	padding-top: 1px;
	width: 16px;
	text-align: center;
	margin-right: 5px;
}

#header h1 {
	text-align: left;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 21px;
	color: #000;
	text-shadow: 1px 1px 1px #fff; 
	margin: 19px 0 0 0px;
	height: 35px;
	overflow: hidden;
	margin-left: 10px;
}

#header #main-title {
	float: left;
	font-weight: 100;
}

#menu {
	margin: 5px 10px 0 0;
	float: right;
}

#menu #mode-description {
	height: 20px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #383838;
}

#menu .mode-holder {
	height: auto;	
	float: left;
	margin-right: 8px;
	float: left;
	font-size: 11px;
	text-align: left;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	padding: 2px 4px;
	background-color: #383838;
	border: 1px #383838 dotted;
}

#menu .mode-holder.active-mode {
	background-color: #959595;
}

#menu .mode-desc {
	float: left;
	font-size: 12px;
	text-align: left;
	color: #000;
	padding: 0px;
}

#menu #year_voting.clicked-mode {
	background-color: #eda700 !important;
	border: 1px #b07c00 dotted;
}

#menu #year_standing.clicked-mode {
	background-color: #33abff !important;
	border: 1px #267fbd dotted;

}

#menu #year_elected.clicked-mode {
	background-color: #d12e14 !important;
	border: 1px #9b220f dotted;
}

#share {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../img/back.png');
	height: 53px;
	width: 53px;
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #fff;
	text-align: center;
}

#share p {
	padding-left: 20px;
	margin-top: 3px;
	text-transform: uppercase;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);

}

#tool {
	pointer-events: none;
	position: absolute;
	width: 250px;
	height: 60px;
	background-color: #e6e6e6;
	display: none;
	z-index: 4;
	padding: 10px 0 10px 10px;
	font-size: 12px;
	border-radius: 2px;
	opacity: .9;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	color: #000;
	font-weight: 400;
	left: 663px;
	top: 211px;
}

#tool .extra {
	right: -35px;
	top: -35px;
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}

#tool .extra.year_voting {
	border: 1px dotted #b07c00;
	background-color: #eda700;
	text-shadow: 1px 1px 1px #b07c00;
}

#tool .extra.year_elected {
	background-color: #d12e14;
	border: 1px #9b220f dotted;
	text-shadow: 1px 1px 1px #9b220f;
}

#tool .extra.year_standing {
	background-color: #33abff !important;
	border: 1px #267fbd dotted;
	text-shadow: 1px 1px 1px #267fbd;
}

#tool .extra h3 {
	line-height: normal;
	margin: 0;
	font-weight: 400;
	line-height: 12px;
	font-size: 11px;
	padding: 14px 5px;
	color: #fff;
	text-align: center;
}

#tool.right:after {
	content: "";
	position: absolute !important;
	bottom: -15px;
	left: 225px; 
	border-width: 15px 15px 0; 
	border-style: solid;
	border-color: #e6e6e6 transparent;
    display: block; 
    width: 0;
    
}

#tool.left:after {
	content: "";
	position: absolute !important;
	bottom: -15px;
	left: 0; 
	border-width: 15px 15px 0; 
	border-style: solid;
	border-color: #e6e6e6 transparent;
    display: block; 
    width: 0;
}
 
#tool p {
	margin: 8px 0;	
}

#tool a {
	color: #000;
	cursor: pointer;	
}

#tool .read-more {
	background-color: #3e3e3e;
	color: #fff;
	padding: 2px 4px;
}

#tool .mini-pie {
	padding-right: 8px;
}

#tool a:hover {
	text-decoration: underline;
	background-color: #000;
}

#tool .header {
	height: 20px;
	border-bottom: 1px solid #dbdbdb;	
}

#tool .extra {
	float: left;
}

#tool .extra.link {
	width: 80%;
}

#tool h2 {
	float: left;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 5px 0;
	text-shadow: 1px 1px 1px #fff;
}

#tool .micro {
	width: 20px;
	height: auto;
	padding-left: 10px;	
}

#container {
	width: 940px;
	margin: 0;
}

#container #map {
	z-index: 0;
	position: absolute;
}

#container #year-indicator {
	z-index: 1;
	position: absolute;
	width: 940px;
	height: 600px;
	margin-top: 0px;
	display: none;
	opacity: .9;
}

#container #year-indicator p {
	font-size: 200px;
	color: #fff;
	text-align: center;
	font-weight: 800;
	text-shadow: 0 0 50px rgba(0,0,0,.5);
	margin: 100px auto;
}

#loader {
	position: absolute;
	z-index: 3;
	width: 940px;
	height: 620px;
	top: 0;
	left: 0;
}

#spin {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	margin-top: 400px;
}

#additional-content-holder {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 1px;
	margin: 0;
}

.column {
	width: 32%;
	height: auto;
	background-color: rgb(250,250,250);
	float: left;
}

#additional-content {
	float: left;
	margin: 0 0;
/* 	padding: 10px 0 20px 20px; */
/* 	margin: 0 40px; */
}

#additional-content-arrows {
	margin: 0;
	width: 940px;
	height: auto;
	overflow: auto;
}

#additional-content h2 {
	margin: 0;
	display: none;
}

#additional-content-holder .arrow {
	width: 30px;
	height: 46px;
	margin-top: 150px;
}

#additional-content-holder .arrow.left {
	float: left;
	margin-left: 10px;
	background: url('../img/arrow.png') center center no-repeat;
}

#additional-content-holder .arrow.right {
	float: right;
	margin-right: 10px;
	background: url('../img/arrow.png') center center no-repeat;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

#additional-content h3 {
	font-size: 12px;
	text-align: center;
	font-weight: 400;
	padding: 0 10px;
	bottom: 0;
	margin: 0;
}

.not-available {
	opacity: .2;
}

h1.not-available {
	opacity: .1;
}

#additional-content #pie-charts {
	width: 580px;
	float: right;
	height: 100%;
	overflow: hidden;
}

#additional-content #laws {
	width: 220px;
	margin: 10px 20px 0 40px;
	float: left;
	height: auto;
}

#additional-content .stats {
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 30px;
}

#additional-content .stats p {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
}

#additional-content .stats .stat-description {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
}

#additional-content .stats .voting-facts {
	margin-top: 20px;
}

#additional-content .stats .government {
	display: block;
	margin-left: 20px;
}

#additional-content #laws .flag {
	width: 100px;
	height: auto;
	display: none;
	box-shadow: 0 0 10px #b7b7b7;
}

#additional-content #laws .flag-holder {
	min-height: 70px;
}

#additional-content #laws .population {

}

#additional-content #laws .law-holder p {
	font-size: 12px;
	font-weight: 400;
	margin: 6px 0;
}


#additional-content #laws .law-value {
	width: 18px;
	padding-right: 10px;
	float: left;
	height: auto;
}

#additional-content .pie-holder {
	float: left;
	margin: 0 0 0 0;
	width: 140px;
	height: 180px;
}

#additional-content .type-holder {
	float: left;
	margin: 30px 0 0 0;
	width: 140px;
	height: 170px;
	text-align: center;
}

#additional-content .type-holder h1 {
	color: #383838;
	font-weight: 800;
	font-size: 52px;
	margin: 0 0 25px 0;
	text-shadow: 1px 1px 1px #fff;
}

#additional-content .pie-chart {
	width: 170px;
	height: 140px;
}

